<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style6.css">
  <title>feedback</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
</head>

<body>
  <div class="container">
    <div class="nav">
      <ul>
        <h4 class="Logo">Ceylovin Travelling</h4>

        <li><a href="index.html">HOME</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li> <a href="locations.html">LOCATIONS</a></li>
        <li> <a href="photography.html">PHOTOGRAPHY</a></li>
        <li> <a href="signup.html">SIGN UP</a></li>
        <li> <a href="feedback.html">FEEDBACK</li>
      </ul>
      <div class="search">
        <input type="search" class="srch" name="" placeholder="Search Places">
        <a href="locations.html"> <button class="btn">Search</button></a>
      </div>
    </div>


    <div id="app">
      <h1>Feedback Forum</h1>
      <form @submit.prevent="addComment">
        <label for="name">Name:</label>
        <input type="text" v-model="name" required>
        <label for="comment">Comment:</label>
        <textarea v-model="comment" required></textarea>
        <button type="submit">Submit</button>
      </form>
      <ul style=" background-color: #fff;">
        <li v-for="comment in comments">
          <strong>{{ comment.name }}:</strong> {{ comment.comment }}
        </li>
      </ul>
    </div>

    <script>
      new Vue({
        el: '#app',
        data: {
          name: '',
          comment: '',
          comments: []
        },
        methods: {
          addComment() {
            this.comments.push({ name: this.name, comment: this.comment });
            this.name = '';
            this.comment = '';
          }
        }
      });
    </script>
  </div>

<section class="footer_banner" id="contact">
  <h2 class="hidden">CEYLOVIN TRAVELLING </h2>
  <div class="ftnav">

      <a href="index.html">HOME </a>|

      <a href="about.html">ABOUT </a>|
      <a href="locations.html">LOCATIONS</a>|
      <a href="photography.html">PHOTOGRAPHY</a>|
      <a href="signup.html">SIGN UP</a>|
      <a href="feedback.html">FEEDBACK</a>
  </div>

  <div class="smed">
      <a href="https://www.facebook.com/" target="_blank"><img src="fb.png" alt="" width="5%"></a>
      <a href="https://www.instagram.com/" target="_blank"><img src="insta.png" alt="" width="5%"></a>
      <a href="https://twitter.com/?lang=en" target="_blank"><img src="twit.png" alt="" width="5%"></a>
      <a href="https://twitter.com/?lang=en" target="_blank"><img src="utube.png" alt="" width="5%"></a>
  </div>

</section>

<div class="copyright">&copy;2023- <strong>Ceylovin (Vinindu Thamara)</strong></div>


</body>

</html>