body {
    background-color: #e4e4e4;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-weight: 200;
	padding-top: 20px;
}

/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;

}

/* navigation bar*/
.nav{
    width: 100%;
    height: 80px;
    margin: auto;
    text-align: center;
    

}

ul{
    float: left;
    display: flex;
    justify-content:center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 25px;
    padding: 2px;

    font-size: 15px;
}

ul li a{
    text-decoration: none;
    color: rgb(44, 44, 44);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    padding: 13px;
}
ul li a:hover{
    color: #bb8f00;
}

/* Search bar */
.search:hover .srch {
    border-color: #bb8f00;
  }
  
  .search:hover .btn {
    background-color: #bb8f00;

  }

.search{
    width: 300px;
    float: right;
    margin-right: 35px;


}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #333;
    margin-top: 17px;
    color: rgb(44, 44, 44);
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px ;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #333;
    border: none;
    margin-top: 16px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;


}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

/*Text*/
h2 {
    color: rgb(0, 0, 126);
    border: 2px;
    background-color: rgb(212, 212, 104);
    padding: 7px;
    padding-left: 15px;
}

/*Places information and images*/
.place {
    margin: 40px 0;
}

.place h2 {
    margin-top: 0;
    font-size: 28px;
}

.place .image {

    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;

}

.place img {
    margin-left: 40%;
    width: 40%;
    margin-right: 50px;
    display: block;
    max-width: 100%;
    height: auto;
}

.place p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    padding: 0 20px;
    font-family: Arial, sans-serif;
}

/* Copyright bar*/
.copyright {
  font-size: 10px;
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
background-color: #717070;
color: #FFFFFF;
text-transform: uppercase;
font-weight: lighter;
letter-spacing: 2px;
border-top-width: 2px;
}